
.body {
    line-height: 22px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size:16px;
    background-color: #849d8f;
    color: #ffffff;
}

.body--index {
    margin: 0;
    background-color: #849d8f;
    background-image: url(../img/slide1-img.png),
                      url(../img/index-slider-lighting.png);
    background-repeat: no-repeat;
    background-position: top 74px center, top center;
}

.body--catalog {
    background-color: #849d8f;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

.off-screen {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.main-content {
    width: 1200px;
    margin: 0 auto;
}

.main-header,
.main-content__wrapper,
.main-footer {
    width: 1146px;
    margin: 0 auto;
}

.main-header {
    margin-bottom: 42px;
    padding: 0 27px;
    padding-top: 9px;
}

.body--catalog .main-header {
    margin-bottom: 2px;
}

.main-header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-title,
.main-logo {
    position: relative;
    left: -6px;
    margin: 0;
}

.main-logo {
    margin: 0;
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 982px;
}

.site-nav,
.user-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 690px;
}

.user-nav {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 262px;
}

.site-nav__item,
.user-nav__item {
    position: relative;
    display: inline-block;
    margin-top: 14px;
    vertical-align: middle;
}

.site-nav__link,
.user-nav__link {
    display: block;
    padding: 6px 13px 6px 13px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
    color: #ffffff;
    background-color: transparent;
}

.body--index .site-nav__link {
    padding: 5px 13px 5px 13px;
}

.body--index .user-nav__link {
    padding: 5px 16px 5px 16px;
}

.site-nav__link:first-child {
    margin-right: 2px;
}

.body--catalog .user-nav__item:last-child .user-nav__link {
    padding: 6px 16px 6px 16px;
    font-weight: 600;
}

.site-nav__link--active-page {
    background-color: #d07058;
}

.user-nav__link {
    padding: 7px 16px 7px 17px;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    background-color: #9db1a5
}

.site-nav__link:hover,
.user-nav__link:hover {
    color: #000000;
    background-color: #f7f6f3;
}

.site-nav__link:active,
.user-nav__link:active {
    box-shadow: inset 0 2px 3px 0 #696969;
}

.site-nav__link--active-page:hover,
.site-nav__link--active-page:active {
    color: #ffffff;
    background-color: #d07058;
}

.breadcrumbs {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    font-size: 0;
    list-style: none;
}

.breadcrumbs__item {
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
}

.breadcrumbs__item a {
    display: block;
    padding: 0;
    line-height: 15px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}

.breadcrumbs__item--link {
    border-bottom: 1px solid #aebeb5;
}

.main-header__contacts {
    width: 172px;
    margin: 0;
    margin-left: auto;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

.body--catalog .main-header__contacts {
    position: relative;
    top: -6px;
    width: 172px;
    margin: 0;
    margin-left: auto;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

.main-header__contacts--large {
    display: block;
    margin-top: 5px;
    line-height: 24px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: inherit;
}

.site-nav__sub-menu {
    position: absolute;
    top: 35px;
    left: -7px;
    z-index: 30;
    width: 143px;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 3px 0 7px 0 #5a6b61,
                -3px 0 7px 0 #5a6b61,
                0 10px 15px 0 #5a6b61;
    display: none;
}

.sub-menu__item a {
    display: block;
    padding: 6px 20px;
    line-height: 16px;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}

.sub-menu__item:last-child a {
    border-radius: 0 0 5px 5px;
}

.sub-menu__item a:hover {
    background-color: #fbded7;
}

.sub-menu__item a:active,
.sub-menu__item .sub-menu__item--active,
.sub-menu__item .sub-menu__item--active:hover,
.sub-menu__item .sub-menu__item--active:active {
    background-color: #f6b5a5;
}

.site-nav__item .sub-menu__item--new {
    position: relative;
    padding: 11px 20px;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
}

.sub-menu__item--new::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 6px;
    width: 128px;
    height: 1px;
    background-color: #f0efec;
}

.site-nav > .site-nav__item:hover .site-nav__sub-menu {
    display: block;
}

.user-nav__item:first-child a {
    position: relative;
    padding: 7px;
}

.user-nav__item:first-child a:hover .sprite-glass--white {
    background-position: -5px -194px;
}

.user-nav__item:last-child a {
    padding-right: 34px;
}

.user-nav__search {
    position: absolute;
    bottom: -88px;
    right: 0;
    padding: 20px 15px;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 3px 0 10px 0 #5a6b61,
                -3px 0 10px 0 #5a6b61,
                0 10px 30px 5px #5a6b61;
    display: none;
}

input[type="search"],
input[type="email"],
input[type="text"],
.pop-up__form textarea  {
    display: block;
    width: 279px;
    padding: 9px 14px;
    line-height: 24px;
    font-size: 14px;
    color: #999999;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow:  1px 0 0 0 #d3d3d2,
                 -1px 0 0 0 #d3d3d2,
                 0 1px 0 0 #d3d3d2,
                 0 -1px 0 0 #d3d3d2;
}

input[type="email"],
input[type="text"] {
    width: 239px;
    margin-bottom: 20px;
}

input[type="search"]:hover,
input[type="email"]:hover,
input[type="text"]:hover,
.pop-up__form textarea:hover {
    box-shadow:  2px 0 0 0 #c7c6c5,
                 -2px 0 0 0 #c7c6c5,
                 0 2px 0 0 #c7c6c5,
                 0 -2px 0 0 #c7c6c5;
    outline: none;
}

input[type="search"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
.pop-up__form textarea:focus  {
    box-shadow:  2px 0 0 0 #8fbdec,
                 -2px 0 0 0 #8fbdec,
                 0 2px 0 0 #8fbdec,
                 0 -2px 0 0 #8fbdec;
    outline: none;
}

.user-nav > .user-nav__item:hover .user-nav__search {
    display: block;
}

.user-nav__link .sprite-enter--white,
.user-nav__link .sprite-basket--white,
.basket-full .sprite-basket--full {
    display: inline-block;
    padding-right: 8px;
    vertical-align: middle;
}

.basket-full {
    color: #000000;
    background-color: #f7f6f3;
}

.user-nav__link:hover .sprite-enter--white {
    background-position: -5px -95px;
}

.user-nav__link:hover .sprite-basket--white {
    background-position: -5px -5px;
}

.user-nav__link--full-basket .sprite-basket--white {
    position: absolute;
    top: 0;
    left: 0;
}

.user-nav__enter--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.user-nav__enter {
    position: absolute;
    bottom: -217px;
    right: 0;
    z-index: 30;
    padding: 20px 15px;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 3px 0 10px 0 #5a6b61,
                -3px 0 10px 0 #5a6b61,
                0 10px 30px 5px #5a6b61;
    display: none;
}

.user-nav > .user-nav__item:hover .user-nav__enter {
    display: block;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px 30px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #f26843, #e74b36);
    background-image: linear-gradient(180deg, #f26843, #e74b36);
    text-decoration: none;
    text-shadow: 0 2px 3px #c43922;
    box-shadow: 0 1px 2px 0 #9e4334;
}

.btn:hover {
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-enter {
    min-width: 102px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    border-radius: 20px 20px;
}

.btn-enter:focus {
    outline: none;
}

.user-nav__help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.user-nav__help a {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    line-height: 13px;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    color: #323232;
    border-bottom: 1px solid #b2b2b2;
}

.user-nav__help a:hover {
    color: #e84d37;
    border-color: #f9cdc4;
}

.user-nav__help a:active {
    color: #e84d37;
    border-color: #f9cdc4;
}

.basket-entry__wrapper {
    position: absolute;
    bottom: -235px;
    right: 0;
    z-index: 20;
    width: 509px;
    padding: 20px 14px 20px 17px;
    border-radius: 5px;
    color: #000000;
    background-color: #f8f7f4;
    display: none;
}

.basket-entry {
    width: 100%;
    line-height: 16px;
    font-size: 13px;
    vertical-align: middle;
    border-collapse: collapse;
}

.basket-entry__item:nth-of-type(2) {
    border-bottom: 1px solid #cacac7;
}

.basket-entry__icon {
    display: inline-block;
    vertical-align: middle;
}

.basket-entry td {
    padding-bottom: 20px;
}

.basket-entry__check td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.basket-entry__dscr {
    width: 282px;
}

.basket-entry__sum-price,
.basket-entry__sum-total {
    text-align: center;
}

.basket-entry__sum-price--light {
    color: #cccbca;
}

.basket-entry__check--total {
    line-height: 18px;
    font-size: 15px;
    font-weight: 500;
    text-align: right;
}

.close-cross {
    position: relative;
    display: block;
    width: 11px;
    height: 11px;
    background-color: transparent;
    cursor: pointer;
}

.close-cross:before,
.close-cross:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: #3e3e3e;
}

.close-cross:before {
    top: 5px;
    right: -2px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.close-cross:after {
    top: 5px;
    right: -2px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.basket-entry__icon {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-basket-order {
    float: right;
    width: 162px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
}

.btn-basket-order:focus {
    outline: none;
}

.user-nav__item:hover .basket-entry__wrapper {
    display: block;
}

.slider {
    position: relative;
    padding-top: 270px;
    text-align: center;
    color: #ffffff;
}

.slide-helper {
    display: none;
}

.slide {
    display: none;
}

.body input[type="radio"] {
    display: none;
}

.body--catalog input[type="radio"] {
    display: block;
}

.slide__title {
    width: 700px;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 30px;
    line-height: 60px;
    font-size: 60px;
    font-weight: 800;
}

.btn__slide {
    padding: 10px 41px;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: -webkit-linear-gradient(#f26843 0%, #e74a35 100%);
    background: linear-gradient(#f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slider__controls {
    position: absolute;
    bottom: 21px;
    left: 0;
    z-index: 20;
    font-size: 0;
}

.slider__controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider__controls label:hover {
    background-color: rgba(255, 225, 225, 0.4);
}

#btn-1:checked ~ .body--index #slide1,
#btn-2:checked ~ .body--index #slide2,
#btn-3:checked ~ .body--index #slide3 {
    display: block;
}

#btn-1:checked ~ .body--index label[for="btn-1"],
#btn-2:checked ~ .body--index label[for="btn-2"],
#btn-3:checked ~ .body--index label[for="btn-3"] {
    background-color: #ffffff;
}

#btn-1:checked ~ .body--index  {
    background-color: #849d8f;
    background-image: url(../img/slide1-img.png),
                      url(../img/index-slider-lighting.png);
    background-repeat: no-repeat;
    background-position: top 81px center, top center;
}

#btn-2:checked ~ .body--index  {
    background-color: #8996a6;
    background-image: url(../img/slide2-img.png),
                      url(../img/index-slider-lighting.png);
    background-repeat: no-repeat;
    background-position: top 81px center, top center;
}

#btn-3:checked ~ .body--index  {
    background-color: #9d8b84;
    background-image: url(../img/slide3-img.png),
                    url(../img/index-slider-lighting.png);
    background-repeat: no-repeat;
    background-position: top 81px center, top center;
}

.surprises {
    width: 1146px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
}

.surprise__jam,
.surprise__chocolate {
    position: relative;
    width: 521px;
    height: 191px;
    padding: 16px 20px 20px 19px;
    border-radius: 15px;
}

.surprise__jam {
    margin-right: auto;
    background: #a50928 url(../img/surprise-jam-img.jpg) no-repeat;
}

.surprise__chocolate {
    background: #482919 url(../img/surprise-chocolate-img.jpg) no-repeat;
}

.surprise__title {
    margin: 0;
    margin-bottom: 15px;
    line-height: 41px;
    font-size: 35px;
    font-weight: 600;
}

.surprise__dscr {
    margin: 0;
    line-height: 22px;
    font-size: 18px;
    font-weight: 500;
}

.bnt-surprise {
    position: absolute;
    bottom: 23px;
    right: 21px;
    padding: 10px 22px 11px 22px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
}

.offer {
    margin-bottom: 40px;
}

.offer__item {
    position: relative;
    float: left;
    width: 267px;
    margin-right: 26px;
}

.offer__item:nth-of-type(4n) {
    margin-right: 0;
}


.body--catalog .offer__item {
    position: relative;
    width: 267px;
    margin-bottom: 40px;
}

.offer__item:hover .offer__hover {
    display: block;
}

.offer__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background-image: url(../img/offer-hit-label.jpg);
    background-position: center;
}

.offer__item img {
    margin-bottom: 6px;
}

.offer__price {
    position: absolute;
    top: 213px;
    left: 0;
    font-size: 0;
}

.offer__price span {
    display: inline-block;
    line-height: 35px;
    font-size: 45px;
    font-weight: 600;
    vertical-align: middle;
}

.offer__item .offer__price--large {
    padding-right: 3px;
}

.offer__item .offer__price--small {
    padding-left: 1px;
    line-height: 25px;
    font-size: 30px;
    vertical-align: bottom;
}

.offer__item .sprite-ruble {
    background-position: -5px -396px;
}

.offer__title {
    margin: 0;
    text-align: center;
}

.offer__link {
    display: inline-block;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

.offer__link--bottom-line {
    border-bottom: 1px solid #9db1a5;
}

.offer__wrapper {
    position: relative;
    z-index: 30;
}

.offer__hover {
    position: absolute;
    top: -6px;
    left: -13px;
    z-index: 50;
    width: 293px;
    height: 405px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 0 10px 0 #5a6b61,
                -1px 0 10px 0 #5a6b61,
                0 10px 10px 5px #5a6b61;
    display: none;
}

 .btn-offer__hover {
    position: absolute;
    bottom: 22px;
    left: 45px;
    padding: 10px 18px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
 }

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 15px 15px 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    color: #000000;
    background-color: #ffffff;
    background-image: url(../img/features-background.jpg);
}

.features__title {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    padding-right: 100px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
}

.features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 545px;
}

.features__icon {
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.features__dscr {
    padding-left: 10px;
    margin-top: 12px;
    margin-bottom: 10px;
}

.extra-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
}

.extra-info__blog {
    width: 518px;
    height: 197px;
    margin-right: auto;
    padding: 23px 21px 0 21px;
    background-color: #ffffff;
    background-image: url(../img/extra-info__blog-background.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.extra-info__title {
    margin: 0;
    margin-bottom: 5px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.extra-info__link {
    line-height: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}

.extra-info__link:hover,
.extra-info__link:active {
    color: #e84d37;
}

.extra-info__dscr {
    margin: 0;
    margin-bottom: 37px;
    color: #5a5a5a;
}

.extra-info__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.extra-info__form input[type="email"] {
    width: 337px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #d3d3d2;
    color: #999999;
}

.extra-info__form input[type="email"]:hover {
    width: 335px;
    border: 1px solid #c7c6c5;
    outline: none;
}

.extra-info__form input[type="email"]:focus {
    border: 1px solid #8fbdec;
    outline: none;
}

.extra-info__subscription {
    width: 550px;
    padding: 5px;
    border-radius: 15px;
    background: -webkit-repeating-linear-gradient(315deg, #92cdff 0, #92cdff 8px, #f8f7f4 8px, #f8f7f4 16px, #fe9e90 16px, #fe9e90 24px, #f8f7f4 24px, #f8f7f4 32px);
    background: repeating-linear-gradient(135deg, #92cdff 0, #92cdff 8px, #f8f7f4 8px, #f8f7f4 16px, #fe9e90 16px, #fe9e90 24px, #f8f7f4 24px, #f8f7f4 32px);
}

.extra-info__inner {
    padding: 29px 20px 15px 21px;
    border-radius: 15px;
    background-color: #f8f7f4;
}

.btn-extra-info {
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 19px 9px 19px;
}

.btn-extra-info:focus {
    outline: none;
}

.map {
    position: relative;
    width: 1200px;
    height: 430px;
    background: #eae3c8 url(../img/map-background.jpg) no-repeat;
}

.map__feed-back {
    position: absolute;
    top: 62px;
    right: 27px;
    width: 254px;
    padding: 29px 23px;
    border-radius: 15px;
    background-color: #fffefd;
    color: #000000;
}

.map__feed-back span {
    display: block;
}

.map__address {
    margin: 0;
    margin-bottom: 18px;
}

.map__address--small,
.map__phone-number--small {
    line-height: 20px;
    font-size: 14px;
}

.map__address--large,
.map__phone-number--large {
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
}

.map__phone-number {
    margin: 0;
    margin-bottom: 25px;
}

.map__phone-number--small {
    margin: 0;
    margin-bottom: 5px;
}

.map__phone-number--large {
    margin: 0;
    margin-bottom: 2px;
}

.btn-map__feed-back {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
}

.btn-map__feed-back:focus {
    outline: none;
}

.catalog-title {
    margin: 0;
    margin-bottom: 33px;
    line-height: 28px;
    font-size: 35px;
    font-weight: 700;
}

.filter__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 857px;
    margin-bottom: 40px;
}

.filter__sorting {
    width: 193px;
}

.filter__name {
    margin: 0;
    margin-bottom: 6px;
    padding-left: 16px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
}

.filter__sorting-list {
    width: 193px;
    padding: 7px 11px 7px 12px;
    color: #ffffff;
    background-color: #a9bab0;
    background-image: url(../img/filter-sorting-list-btn.svg);
    background-repeat: no-repeat;
    background-position: right 14px center;
    border: 0;
    border-radius: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
}

.filter__sorting select:hover,
.filter__sorting option:hover {
    color: #000000;
    background-color: #ffffff;
    background-image: url(../img/filter-sorting-list-btn-black.svg);
}

.filter__sorting select:focus,
.filter__sorting option:focus {
    outline: none;
}

.filter__range-scale {
    position: relative;
    width: 218px;
    height: 36px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #a9bbb1;
}

.filter__range-bar {
    position: absolute;
    top: 16px;
    left: 15px;
    width: 188px;
    height: 4px;
    background-image: -webkit-linear-gradient(left, #d1dad3 0, #d1dad3 40px, #f8f7f4 40px, #f8f7f4 120px, #d1dad3 120px, #d1dad3 188px);
    background-image: linear-gradient(90deg, #d1dad3 0, #d1dad3 40px, #f8f7f4 40px, #f8f7f4 120px, #d1dad3 120px, #d1dad3 188px);
}

.toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #f8f7f4;
    box-shadow: 0 1px 1px 0 #9caaa1;
}

.toggle-min {
    top: 8px;
    left: 35px;
}

.toggle-max {
    top: 8px;
    right: 65px;
}

.filter__fatness {
    width: 415px;
}

.filter__fatness-list {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
    border-radius: 20px;
    background-color: #aabcb2;

}

.filter__fatness-item {
    position: relative;
    margin-right: 5px;
    padding-top: 9px;
    padding-bottom: 1px;
    padding-left: 45px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.filter__fatness-item input[type="radio"],
.filter__stuff-item input[type="checkbox"] {
    display: none;
}

.filter__fatness-item label {
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.filter__fatness-item input[type="radio"] + .radio-indicator {
    position: absolute;
    top: 7px;
    left: 15px;
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.filter__fatness-item label:hover .radio-indicator {
    top: 6px;
    left: 14px;
    border: 2px solid #ffffff;
}

.filter__fatness-item input[type="radio"]:checked + .radio-indicator::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

.filter__fatness-item input[type="radio"]:disabled + .radio-indicator,
.filter__fatness-item input[type="radio"]:disabled + .radio-indicator::before {
    border-color: #b5c4bc;
}

.filter__stuff {
    width: 700px;
    margin: 0;
    margin-top: 15px;
}

.filter__stuff-list {
    font-size: 0;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    background-color: #a8b9af;
}

.filter__stuff-item {
    position: relative;
    display: inline-block;
    padding: 9px 0 9px 47px;
    margin-right: 5px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
}

.filter__stuff-item:nth-child(2) {
    margin-right: 9px;
}

.filter__stuff-item:nth-child(3) {
    margin-right: 8px;
}

.filter__stuff-item:nth-child(4) {
    margin-right: 7px;
}

.filter__stuff-item label {
    cursor: pointer;
}

.filter__stuff-item input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 9px;
    left: 15px;
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

.filter__stuff-item label:hover .checkbox-indicator {
    top: 8px;
    left: 14px;
    border: 2px solid #ffffff;
}

.filter__stuff-item input[type="checkbox"]:checked + .checkbox-indicator:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 9px;
    height: 5px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    cursor: pointer;
}

.filter__stuff-item input[type="checkbox"]:disabled + .checkbox-indicator,
.filter__stuff-item input[type="checkbox"]:disabled + .checkbox-indicator::before {
    border-color: #b5c4bc;
}

.btn-filter {
    position: relative;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 140px;
    height: 33px;
    padding-left: 17px;
    padding-right: 15px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
    background-image: none;
    text-shadow: none;
    box-shadow:  2px 0 0 0 #ffffff,
                 -2px 0 0 0 #ffffff,
                 0 2px 0 0 #ffffff,
                 0 -2px 0 0 #ffffff;
    background-color: #a5b7ad;
}

.btn-filter:hover {
    color: #000000;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    box-shadow:  2px 0 0 0 #ffffff,
                 -2px 0 0 0 #ffffff,
                 0 2px 0 0 #ffffff,
                 0 -2px 0 0 #ffffff;
    background-color: #fbfcfb;
}

.btn-filter:focus {
    color: #000000;
    background-image: none;
    text-shadow: none;
    box-shadow:  2px 0 0 0 #eaeaea,
                 -2px 0 0 0 #eaeaea,
                 0 2px 0 0 #eaeaea,
                 0 -2px 4px 0 #6c6d6c;
    background-color: #eaeaea;
    outline: none;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 30px;
    border-bottom: 1px solid #a9bbb1;
}

.pagination__list {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

.pagination__item {
    position: relative;
    display: inline-block;
    margin-right: 3px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
}

.pagination__item:nth-child(3) {
    margin-right: 5px;
}

.pagination__item:nth-child(6) {
    margin-right: 1px;
}

.pagination__link {
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 50%;
    color: #ffffff;
}

.pagination__link:hover {
    color: #ffffff;
    background-color: #9db1a5;
}

.pagination__link:active {
    color: #000000;
    background-color: #ffffff;
}

.pagination__link--active-page,
.pagination__link--active-page:hover {
    color: #000000;
    background-color: #ffffff;
}

.previous-page,
.next-page {
    padding: 4px 11px;
    background-color: transparent;
}

.previous-page:hover,
.previous-page:active,
.next-page:hover,
.next-page:active {
    background-color: transparent;
}

.previous-page::before,
.next-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.previous-page::before {
    left: 3px;
    border-color: #9db1a5;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.next-page::before {
    top: -1px;
    left: 12px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    cursor: pointer;
}

.main-footer__social,
.main-footer__about-manufacture,
.main-footer__regulations {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            float:left;
    width: 267px;
    padding-top: 36px;
    padding-bottom: 33px;
}

.main-footer__about-company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 560px;
    padding-top: 30px;
    padding-left: 25px;
    float: left;
}

.site-developer {
    float: right;
    width: 270px;
    background-color: inherit;
    background-image: url(../img/site-developer.svg);
    background-repeat: no-repeat;
    background-position: left 81px top 18px;
}

.site-developer p {
    padding-top: 49px;
    padding-left: 78px;
    line-height: 18px;
    font-size: 12px;
    color: #fefefe;
}

.site-developer__link {
    text-decoration: none;
    border-bottom: 1px solid #9db1a5;
    color: #fefefe;
}

.sprite-twitter,
.sprite-insta,
.sprite-fb,
.sprite-vk {
    margin-right: 12px;
    border: 3px solid #c2cec7;
    border-radius: 50%;
}

.sprite-twitter:hover,
.sprite-insta:hover,
.sprite-fb:hover,
.sprite-vk:hover {
    background-color: rgba(255, 225, 225, 0.5);
}

.sprite-twitter:active,
.sprite-insta:active,
.sprite-fb:active,
.sprite-vk:active {
    box-shadow: inset 0 2px 3px 0 #999a99;
}

.main-footer__social .sprite-twitter {
    background-position: -5px -444px;
}

.main-footer__about-manufacture {
    width: 150px;
    margin-left: 20px;
}

.main-footer__regulations {
    width: 200px;
    padding-left: 15px;
}

.main-footer__about-manufacture span {
    display: inline-block;
    vertical-align: middle;
}

.sprite-heart {
    background-position: 5px -218px;
}

.main-footer__about-manufacture a,
.main-footer__regulations a {
    display: inline-block;
    line-height: 15px;
    font-size: 13px;
    text-decoration: none;
    vertical-align: middle;
    border-bottom: 1px solid #a9bbb1;
    color: #ffffff;

}

.main-footer__about-manufacture a:hover,
.main-footer__about-manufacture a:active,
.main-footer__regulations a:hover,
.main-footer__regulations a:active,
.site-developer__link:hover,
.site-developer__link:active,
.breadcrumbs__item--link:hover,
.breadcrumbs__item--link:active {
    color: #ffbc9e;
    border-color: #a7a294;
}

.main-footer__about-manufacture li:first-child a {
    margin-left: 7px;
    font-weight: 500;
}

.main-footer__about-manufacture li:last-child a {
    margin-left: 23px;
}

@-webkit-keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.pop-up {
    position: absolute;
    top: 1830px;
    left: 50%;
    width: 427px;
    margin-left: -235px;
    padding: 22px 25px 25px 25px;
    border-radius: 10px;
    background-color: #f8f7f4;
    display: none;
}

.pop-up__title {
    margin: 0;
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}

.pop-up__form {
    margin: 0;
    margin-bottom: 25px;
}

.pop-up input[type="text"],
.pop-up input[type="email"],
.pop-up textarea {
    line-height: 24px;
    font-size: 16px;
    color: #999999;
}

.pop-up textarea {
    width: 409px;
    margin: 0;
    padding-left: 14px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.pop-up textarea:focus {
    width: 409px;
    margin: 0;
    padding-left: 14px;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
}

.btn-pop-up {
    float: right;
    width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
}

.btn-pop-up:focus {
    outline: none;
}

.pop-up__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    font-size: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.pop-up__close::before,
.pop-up__close::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: #000000;
    border-radius: 1px;
}

.pop-up__close::before {
    top: 8px;
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.pop-up__close::after {
    top: 8px;
    left: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.popup-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket--black {
    width: 21px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite-basket--full {
    width: 21px;
    height: 20px;
    background-position: -5px -35px;
}

.sprite-basket--white {
    width: 21px;
    height: 20px;
    background-position: -5px -65px;
}

.sprite-enter--black {
    width: 20px;
    height: 19px;
    background-position: -5px -95px;
}

.sprite-enter--white {
    width: 20px;
    height: 19px;
    background-position: -5px -124px;
}

.sprite-fb {
    width: 31px;
    height: 31px;
    background-position: -5px -153px;
}

.sprite-glass--black {
    width: 17px;
    height: 17px;
    background-position: -5px -194px;
}

.sprite-glass--white {
    width: 17px;
    height: 17px;
    background-position: -5px -221px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -5px -248px;
}

.sprite-ice-icon1 {
    width: 33px;
    height: 33px;
    background-position: -5px -271px;
}

.sprite-ice-icon2 {
    width: 33px;
    height: 33px;
    background-position: -5px -314px;
}

.sprite-insta {
    width: 31px;
    height: 31px;
    background-position: -5px -357px;
}

.sprite-ruble {
    width: 31px;
    height: 36px;
    background-position: -5px -398px;
}

.sprite-twitter {
    width: 31px;
    height: 31px;
    background-position: -5px -444px;
}

.sprite-vk {
    width: 31px;
    height: 31px;
    background-position: -5px -485px;
}
